<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset='utf-8'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ site.github.url }}/assets/css/style.css">
		<link rel="stylesheet" href="{{ site.github.url }}/assets/lightbox/css/lightbox.css"/>
		{% seo %}
	</head>
	<body>
		<header>
			<div class="container">
				<a id="a-title" href="{{ site.github.url }}/">
					<h1>synth</h1>
				</a>
				<h2>My DIY modular synthesizer</h2>
			</div>
		</header>
		<div class="container">
			<section id="main_content">
				{{ content }}
			</section>
		</div>
		<script src="{{site.github.url}}/assets/lightbox/js/lightbox-plus-jquery.js"></script>
		<script>
		 lightbox.option({
			 'fadeDuration': 300,
			 'imageFadeDuration': 300,
			 'resizeDuration': 350
		 })
		</script>
	</body>
</html>
